body {
	background-color: white;
	color: black;
	font-family: arial, sans-serif;
}

.flex {
	display: flex;
	align-content: space-between;
}

#content{
	flex-direction: column;
	align-items: center;
}

.logo{
	margin-top: 109px;
	margin-bottom: 35px;
	width: 272px;
	height: 92px;
}

#searchForm {
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.buttons{
	margin-top: 18px;
}

.search{
	width: 40%;
}

.searchBox{
	width: 100%;
}

input[type="submit"]{
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5F6368;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
}

input[type="submit"]:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	color: #222;
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
}
